.sitenav {
margin-left: auto;

&__list {
display: flex;
}

&__item:not(:last-child) {
margin-right: 40px;
}

&__link {
color: $color-white;
font-size: 13px;
line-height: 20px;
}

&__link:hover{
  opacity: 0.8;
}
}