$main-font-family: "roboto", sans-serif;
$color-black-3: #333;
$color-black-0: #000;
$color-black-7: #777;
$color-white: #fff;
$color-header-bg: #6b6b6b;
$color-footer-bg: #6b6b6b;
$color-hero-bg: #ebebeb;
$color-company-bg: #d3d3d3;
$color-copyright-bg: #111;
$color-step-text: #3b79c3;
